@model Super_Duper_Library.Models.BorrowsVM

<style>
    .redclr {
        color: red;
    }

    .greenclr {
        color: forestgreen;
    }
</style>


@{
    var bookstatus = "";
    var clr = "";

    if (Model.Borrows[0].BroughtDate == "Book Out")
    {
        bookstatus = "- Book Out";
    }
    else if (Model.Borrows[0].BroughtDate != null)
    {
        bookstatus = "- Book Available";
       
    }

}

<h1>
    @Model.BookName @if (bookstatus == "- Book Available")
    {<span class="greenclr">@bookstatus</span>}
    else if (bookstatus == "- Book Out") {<span class="redclr">@bookstatus</span>}
</h1>




<div class="row">
    <div class="col-sm-6"><h2 class="text-left"># Borrows - @Model.Borrows.Count()</h2></div>
    <div class="col-sm-6 text-right"><br />@Html.ActionLink("View Students", "Students", "Home",new {id=Model.BookID, FirstborrowID= Model.Borrows[0].BorrowId}, new { @class = "btn btn-primary" })</div>

    <div class="col-sm-12">
        <table class="table">
            <tr class="thead">
                <th>#</th>
                <th>Taken Date</th>
                <th>Brought Date</th>
                <th>Borrowed By</th>
            </tr>
            @foreach (var borrow in Model.Borrows)
            {
                <tr>
                    <td>@borrow.BorrowId</td>
                    <td>@borrow.TakenDate</td>
                    <td>@borrow.BroughtDate</td>
                    @foreach (var student in Model.Students)
                    {
                        if (borrow.StudentId == student.StudentId)
                        {
                            <td>@student.Name @student.Surname</td>
                        }
                    }
                </tr>
            }
        </table>

    </div>
</div>
