@model Super_Duper_Library.Models.LibraryRecordsVm
@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title.</h2>

<div class="row">
    <form class="form-inline">
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Search Book Name" />
        </div>

        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select a type
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                </ul>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select a Author
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    
                </ul>
            </div>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-success form-control">Search</button>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-danger form-control">Clear</button>
        </div>
    </form>

    <br /><br />
          <div class="col-md-12">
              <table class="table">
                  <tr class="thead">
                      <th>#</th>
                      <th>Name</th>
                      <th>Author</th>
                      <th>Type</th>
                      <th>Page Count</th>
                      <th>Points</th>
                      <th>Status</th>
                      <th></th>
                  </tr>
                  @foreach (var book in Model.Books)
                  {
                      <tr>
                          <td>@book.BookId</td>
                          <td>@book.Name</td>

                          @foreach (var author in Model.Authors)
                          {
                              if (book.AuthorId == author.AuthorId)
                              {
                                  <td>@author.Surname</td>
                              }

                          }
                          @foreach (var booktype in Model.Types)
                          {
                              if (book.TypeId == booktype.TypeId)
                              {
                                  <td>@booktype.Name</td>
                              }

                          }
                          <td>@book.Pagecount</td>
                          <td>@book.Point</td>
                          <td>Status</td>
                          <td>@Html.ActionLink("View", "Books", "Home", new { id=book.BookId }, new { @class = "btn btn-primary" })</td>
                          
                      </tr>
                  }
              </table>
          </div>
</div>