@model Super_Duper_Library.Models.LibraryRecordsVm
@{
    ViewBag.Title = "Books";
}

<h2>@ViewBag.Title.</h2>

<style>
    .width-full {
        width: 100%
    }

    .greenclr {
        color: forestgreen;
    }

    .redclr {
        color: red;
    }
</style>



<div class="row">
    @using (Html.BeginForm("search", "Home", FormMethod.Post))
    {
        <div class="col-sm-4">
            <input type="text" class="form-control width-full" name="bookname" placeholder="Search Book Name" />
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <select class="form-control" id="typeoption" name="type">
                    <option value="" disabled selected hidden>Select a type</option>
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.Name">@type.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <select class="form-control" id="authoroption" name="author">
                    <option value="" disabled selected hidden>Select a Author</option>
                    @foreach (var author in Model.Authors)
                    {
                        <option value="@author.Surname">@author.Surname</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-2">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    }

    <div class="col-sm-2">
        @Html.ActionLink("Reset", "Index", "Home", new { @class = "btn btn-danger width-full" })
    </div>


    

    <br /><br />
    <div class="col-md-12">
        <table class="table">
            <tr class="thead">
                <th>#</th>
                <th>Name</th>
                <th>Author</th>
                <th>Type</th>
                <th>Page Count</th>
                <th>Points</th>
                <th>Status</th>
                <th></th>
            </tr>
            @foreach (var book in Model.Books)
            {

        <tr>
            <td>@book.BookId</td>
            <td>@book.Name</td>

            @foreach (var author in Model.Authors)
            {
                if (book.AuthorId == author.AuthorId)
                {
                    <td>@author.Surname</td>
                }

            }
            @foreach (var booktype in Model.Types)
            {
                if (book.TypeId == booktype.TypeId)
                {
                    <td>@booktype.Name</td>
                }

            }
            <td>@book.Pagecount</td>
            <td>@book.Point</td>
            @foreach (var borrow in Model.Borrows.FindAll(x => (x.BookId == book.BookId)).Take(1))
            {

                if (borrow.BroughtDate == "Book Out")
                {
                    <td style="color: red;">Out</td>

                }
                else if (borrow.BroughtDate != "Book Out")
                {
                    <td style="color: forestgreen;">Available</td>
                }
                else
                {
                    <td style="color: forestgreen;">Available</td>
                }
            }

            <td>@Html.ActionLink("View", "Books", "Home", new { id = book.BookId, Bname = book.Name }, new { @class = "btn btn-primary" })</td>

        </tr>

            }



        </table>
    </div>
</div>