@model Super_Duper_Library.Models.allStudentsVm
@{
    ViewBag.Title = "Students";
}

<h2>@ViewBag.Title.</h2>
<style>
    .width-full {
        width: 100%
    }

    .greenclr {
        color: forestgreen;
    }
</style>

<div class="row">
    <form class="form-inline">
        <div class="col-sm-3">
            <input type="text" class="form-control width-full" name="studentname" placeholder="Search Student Name" />
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <select class="form-control" id="typeoption" name="type">
                    <option value="" disabled selected hidden>Select a Class</option>
                    @foreach (var type in Model.Students)
                    {
                        <option value="@type.Class">@type.Class</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-success width-full">Search</button>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-danger width-full">Clear</button>
        </div>
    </form>
    <br /><br />
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Class</th>
                <th></th>

                @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.Name</td>
                    <td>@student.Surname</td>
                    <td>@student.Class</td>
                    <td>@student.Point</td>
                    <td></td>
                </tr>
            }

            </tr>
        </table>
    </div>
</div>

